<h1><%= @pirate[:name] %></h1>
<h1><%= @pirate[:weight] %></h1>
<h1><%= @pirate[:height] %></h1>

<% @ships.each do |s| %>
  <h2><%= s[:name] %></h2>
  <h2><%= s[:type] %></h2>
  <h2><%= s[:booty] %></h2>
<% end %>
