<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Display your Pirate here</h1>
    Name:
    <%= @pirate_name %>
    Weight:
    <%= @pirate_weight %>
    Height:
    <%= @pirate_height %>
    <h2>Display your first ship here</h2>
    Name:
    <%= @s1_name %>
    Weight:
    <%= @s1_weight %>
    Height:
    <%= @s1_height %>

    <h2>Display your second ship here</h2>
    Name:
    <%= @s2_name %>
    Weight:
    <%= @s2_weight %>
    Height:
    <%= @s2_height %>
  </body>
</html>
